<div class="tour-banner" style="background-image: url(<%= cl_image_path @tour.photo %>);">
</div>

<div class="container d-flex my-5">
  <div class="tour-description">
    <h3> <%= @tour.name %> </h3>
    <h3> USD <%= @tour.price %></h3>
    <p>
      <%= @tour.details %>
    </p>
    <div class="tour-photo d-flex justify-content-between">
      <% if @tour.photo_one.model[:photo_one] %>
        <%= cl_image_tag @tour.photo_one %>
      <% else %>
        <%= cl_image_tag @tour.photo %>
      <% end %>
      <% if @tour.photo_two.model[:photo_two] %>
        <%= cl_image_tag @tour.photo_two %>
      <% else %>
        <%= cl_image_tag @tour.photo %>
      <% end %>
      <% if @tour.photo_three.model[:photo_three] %>
        <%= cl_image_tag @tour.photo_three %>
      <% else %>
        <%= cl_image_tag @tour.photo %>
      <% end %>
    </div>
    <div class="provider mt-4 rounded p-4">
      <h4 class="mt-1">Related Tours</h4>
      <div class="provider-tours d-flex justify-content-around mt-2">

      </div>
    </div>
  </div>

  <div class="request d-flex align-items-center justify-content-around flex-column ml-5">
    <div class="form p-5">
      <%= simple_form_for [@tour, @booking] do |f| %>
      <div class="form-group">
        <%= f.input :headcount, as: :select, collection: (1..15), label: 'Number of people:', default: 1, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Date:' %>
        <%= f.date_field :date, class: "form-control" %>
      </div>
      <div class="form-group">
        <h5>Total</h5>
        <h4 class="tour_cost">USD<span class="tour_cost" id="tour_cost"><%= @tour.price %></span> </h4>
      </div>
        <%= f.submit 'Request', class: "btn btn-info btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>
