<br />

<div class="container">

  <% total_requests = nil %>
        <% tours_with_requests = [] %>
      <% if Booking.has_unconfirmed_requests?(current_user) %>
        <% total_requests = 0 %>
        <% current_user.tours.each do |tour| %>
          <% tour.bookings.each do |booking| %>
            <% if booking.confirmed.nil? %>
              <% total_requests += 1 %>
              <% tours_with_requests << tour %>
            <% end %>
          <% end %>
        <% end %>
        <% tours_with_requests = tours_with_requests.uniq %>
      <% end %>
  <% unless total_requests.nil? %>
    <div class="unconfirm mt-5 col-md-8 offset-md-2">



        <div class="tour-unconfirm">
          <h4>You have <%= pluralize total_requests, "unconfirmed request" %>:</h4>
          <ul class="unconfirmed-list">
            <% tours_with_requests.each do |tour| %>
            <li>
              <%= link_to "#{tour.name} ", providers_bookings_path(anchor: "#{tour.id}") %> <span style= "font-family: 'Heebo', sans-serif;letter-spacing: 0.5px; font-weight: bold; color: #5A6268;font-size: 20px;"><%= pluralize tour.unconfirmed_count, "request"%></span>
            </li>
            <% end %>
          </ul>
      </div>

    </div>
  <% end %>

  <div class="wrapper mt-5 col-md-10 offset-md-1">
    <% current_user.tours.each do |tour| %>
    <% if tour.bookings.any? %>
      <ul class="provider_tour group_tour_book">
        <%= raw("<h2 class='tour_name' id='#{tour.id}''> #{tour.name} </h2>") %>
        <% tour.bookings.each do |booking| %>
          <li class="mt-4">
            <div class="notification py-3">
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
              <div class="notification-content">
                <h3><%= booking.customer.name %></h3>
                <p><strong>Booking-id:</strong> <%= booking.id %></p>
                <p><strong>Date:</strong> <%= booking.nice_date %> - <strong>People:</strong> <%= booking.headcount %> - <strong>Total: ￥</strong> <%= booking.tour.cost * booking.headcount %></p>
              </div>
              <% if booking.confirmed == true %>
              <p class="confirmed">Confirmed <i class="fas fa-check"></i></p>
              <% else %>
                <div class="notification-actions">
                  <%= link_to raw('Confirm <i class="fas fa-check"></i>'), providers_booking_path(booking), class: "text-dark btn btn-outline-info", method: :patch %>
                  <%= link_to raw('Cancel <i class="far fa-trash-alt"></i>'),providers_booking_path(booking), method: "delete",  data: { confirm: "Are you sure you want to cancel #{booking.customer.name}'s request for '#{booking.tour.name}'?" } %>
                </div>
              <% end %>
            </div>
          </li>
          <% end %>
      </ul>
      <% end %>
      <% end %>
  </div>
</div>
